<as-split
  [disabled]="isSplitDisabled"
  [gutterSize]="7.5"
  [direction]="pageSplitDirection"
  unit="percent"
>
  <as-split-area [size]="headerSizeInPercent">
  </as-split-area>
  <as-split-area [size]="bodySizeInPercent">
    <as-split
      [disabled]="isSplitDisabled"
      [gutterSize]="7.5"
      [direction]="contentSplitDirection"
      unit="percent"
    >
      <as-split-area [size]="leftChildSizeInPercent">
      </as-split-area>
      <as-split-area [size]="rightChildSizeInPercent">
      </as-split-area>
    </as-split>
  </as-split-area>
</as-split>